 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.center{
margin: auto;
width: 100%;
border: 25px solid blue;
padding: 10px;
background-color:#F8F9FA;
}
.wrap{
    background: #fff;
    border-radius: 4px;
    font-size: 15px;
}
.body{
    background: #2E4FC3;
}
.nav-bg{
    background: #FFFFFF;
}
/*nav-logo*/
.navLogo{
    width: 160px;
    max-width: 100%;
}
#navLink{
    color: black;
    font-family: monospace;
    font-size: 1.6em;
}
.heroContent{
    margin-top: 60px;
}
#heroImage{
    width: 500px;
}
.heroPara{
    border: 2px solid #fbd1a2;
    background: #fbd1a2;
    color: white;
    text-align: center;
    font-size: 1.4em;
    width: 190px;
    padding: 5px;
}
.heading{
    width: 290px;
}
.headspan{
    color: blue;
}
.para{
    font-size: 12px;
    width: 184px;
}
.Sign-link{
padding: 10px 25px 10px 25px ;
border-style: none;
background: blue;
color: white;
font-size: 1.3em;
}


/*sign-up form css*/
.signup-image{
    width: 500px;
}
.sign-input{
border: 2px solid blue;
outline: none;
}


.submitbtn{
    padding: 10px 30px;
    margin-left: 90px;
    font-size: 1.2em;
}

/*option.html css*/
.heading1{
    margin-top: 3em;

}
#para{
    color: black;
    font-size: 20px;
    margin-top: 162px;
}

.btn1{
    outline-style: none;
    border: 1px ridge blue;
    padding: 10px 120px 10px 120px;
    color: black;
}
.btn2{
    outline-style: none;
    border: 2px ridge blue;
    background: blue;
    padding: 10px 120px 10px 120px;
    color: white;
}
/*LtHtml*/
.forminput{
    width: 500px;
    outline-style: none;
}
.form-label{
margin-top: 1rem;
}
.loginbtn{
    justify-items: center;
    padding: 12px 80px 12px 80px;
    margin-top: 41px;
    font-size: 20px;
}
.loginbtn:hover{
    background-color: blue;
}
.form{
    margin-left: 30%;
}
@media (min-width: 576px) {
    .h-sm-100 {
        height: 100%;
    }
}


p {
    margin: 0%;
}

.container {
    margin: 30px auto;
    background: white;
    padding: 20px 15px;
}




@media(max-width: 450px) {
    .subject {
        font-size: 12px;
    }
}




